/* #menu{
    background-color: gray;
    color: black;
} */

#fila1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*FONT FAMILY PARA LA PAGINA SOBRE NOSOTROS LA PRIMERA FILA*/
}

